---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

import HeroText from "../components/HeroText.astro";
const seo = {
	title: "About Us - Your Trusted Global Career Partner | Sastika Solutions",
	description:
		"At Sastika Solutions, we specialize in connecting Indian professionals with international career opportunities. Learn more about our mission and expertise in global recruitment.",
	keywords:
		"about Sastika Solutions, global recruitment expertise, career solutions, international hiring",
};
---

<Layout {...seo}>
	<Navbar currentPath="/about" />
	<section class="relative">
		<!-- Background image -->
		<div class="absolute inset-0 z-0">
			<img
				src="/hero-image/about.webp"
				alt="Background"
				class="w-full h-full object-cover brightness-75"
			/>
		</div>

		<!-- Overlay to darken the image -->
		<div class="absolute inset-0 bg-black/40 z-10"></div>

		<!-- Hero text component -->
		<div class="relative z-20">
			<HeroText
				title1="Empowering Your Global"
				title2="Career Journey With "
				title3="Trust, Expertise, And "
				title4="Personalized Support"
			/>
		</div>
	</section>
	<section class="bg-gray-50 py-12 px-6 md:px-12 lg:px-20">
		<div class="max-w-7xl mx-auto">
			<!-- Who We Are Section -->
			<div class="grid md:grid-cols-2 gap-7">
				<div class="flex items-center justify-center overflow-hidden">
					<img
						src="/about/abtimg1.webp"
						alt="Teamwork"
						class="rounded-lg object-cover"
					/>
				</div>
				<div>
					<div class="flex">
						<img
							src="/icons/icon1.svg"
							alt="Teamwork"
							class="rounded-lg object-cover"
						/>
						<p class="text-black-600 text-lg mx-2">
							Get To Know Us
						</p>
					</div>
					<h2 class="text-5xl font-bold text-gray-800 mb-4">
						Who We <span class="text-[#D40000]">Are?</span>
					</h2>
					<p class="text-gray-800 text-md mb-5">
						At Sastika Solutions, we are dedicated to connecting
						skilled <br />
						Indian professionals with global career opportunities. We
						<br />
						simplify the process for both job seekers and employers by
						<br />
						providing end-to-end solutions, from visa assistance to <br
						/>
						seamless recruitment. With a focus on personalized service<br
						/>
						and a deep understanding of international hiring needs,we
						<br />
						pride ourselves on building long-term relationships <br
						/>
						and fostering global growth.
					</p>
					<a
						href="/contact"
						class="bg-[#D40000] text-white px-6 py-2 rounded-lg font-medium hover:bg-red-600"
					>
						Contact Us
					</a>
				</div>
			</div>

			<!-- Mission & Vision Section -->
			<div class="grid md:grid-cols-2 gap-8 items-center mt-16">
				<div class="order-1 md:order-none">
					<div class="flex">
						<img
							src="/icons/icon2.svg"
							alt="Teamwork"
							class="rounded-lg object-cover"
						/>
						<p class="text-black-600 text-lg mx-2">
							What Drives Us
						</p>
					</div>

					<h2 class="text-5xl font-bold text-gray-800 mb-4">
						Mission & <span class="text-[#D40000]">Vision</span>
					</h2>
					<div class="border-l-4 border-red-500 pl-4">
						<p class="text-black-600 mb-6">
							At Sastika Solutions, we strive to connect skilled
							Indian<br />
							professionals with global opportunities, making the<br
							/>
							recruitment process easier for both candidates and<br
							/>
							employers. We offer seamless support, from visa assistance<br
							/>
							to job placements, ensuring a smooth experience at every
							step.<br />
							Our goal is to build meaningful connections that drive
							<br />
							growth, success, and a more connected global workforce.
						</p>
					</div>
					<a
						href="#"
						class="bg-[#D40000] text-white px-6 py-2 rounded-lg font-medium hover:bg-red-500"
					>
						Check Our Socials
					</a>
				</div>
				<div class="flex items-center justify-center overflow-hidden">
					<img
						src="/about/abtimg2.webp"
						alt="Teamwork"
						class="w-80 h-80 rounded-lg object-cover"
					/>
				</div>
			</div>
		</div>

		<div class="max-w-7xl mx-auto">
			<!-- How we make this happen -->
			<div class="grid md:grid-cols-2 gap-8 mt-16">
				<div class="flex items-center justify-center overflow-hidden">
					<img
						src="/about/abtimg3.webp"
						alt="Teamwork"
						class="w-70 h-80 rounded-lg object-cover"
					/>
				</div>
				<div class="order-1 md:order-none">
					<div class="flex">
						<img
							src="/icons/icon3.svg"
							alt="Teamwork"
							class="rounded-lg object-cover"
						/>
						<p class="text-black-600 text-lg mx-2">
							How we make this happen
						</p>
					</div>

					<h2 class="text-5xl font-bold text-gray-800 mb-4">
						What We <span class="text-[#D40000]">Do?</span>
					</h2>
					<p class="text-gray-800 mb-5">
						<b> Consultation:</b> We understand your skills and career
						goals or your hiring needs.<br />
						<b>Job Matching:</b> We find the best job opportunities or
						candidates that fit.<br />
						<b>Visa and Documentation:</b> We handle all necessary legal
						requirements for smooth relocation.<br />
						<b>Placement:</b> Successful placement and onboarding with
						international companies.<br />
						<b>Ongoing Support:</b> We ensure continuous support for
						both candidates and employers throughout the process.<br
						/>
					</p>
					<a
						href="/services"
						class="bg-[#D40000] text-white px-6 py-2 rounded-lg font-medium hover:bg-red-600"
					>
						Our Services
					</a>
				</div>
			</div>

			<!-- Why choose us-->
			<div class="grid md:grid-cols-2 gap-8 items-center mt-16">
				<div class="order-1 md:order-none">
					<div class="flex">
						<img
							src="/icons/icon4.svg"
							alt="Teamwork"
							class="rounded-lg object-cover"
						/>
						<p class="text-black-600 text-lg mx-2" 2>
							Your Trusted Partner
						</p>
					</div>
					<h2 class="text-5xl font-bold text-gray-800 mb-4">
						Why Choose <span class="text-[#D40000]">Us?</span>
					</h2>
					<div class="border-l-4 border-red-500 pl-4">
						<p class="text-black-600 mb-6">
							At Sastika Solutions, we strive to connect skilled
							Indian<br />
							professionals with global opportunities, making the<br
							/>
							recruitment process easier for both candidates and<br
							/>
							employers. We offer seamless support, from visa assistance<br
							/>
							to job placements, ensuring a smooth experience at every
							step.<br />
							Our goal is to build meaningful connections that drive
							<br />
							growth, success, and a more connected global workforce.
						</p>
					</div>
					<a
						href="/contact"
						class="bg-[#D40000] text-white px-6 py-2 rounded-lg font-medium hover:bg-red-500"
					>
						Contact us
					</a>
				</div>
				<div class="flex items-center justify-center overflow-hidden">
					<img
						src="/about/abtimg4.webp"
						alt="Teamwork"
						class="w-80 h-80 rounded-lg object-cover"
					/>
				</div>
			</div>
		</div>
	</section>
	<Footer />
</Layout>
