---
// src/layouts/Layout.astro
const { title, description, keywords } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title || 'Default Title'}</title>
    <meta name="description" content={description || 'Default description'} />
    <meta name="keywords" content={keywords || 'default, keywords'} />
    <meta name="author" content="Sastika Solutions" />
    <meta name="robots" content="index, follow" />
 
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <slot />
  </body>
</html>